@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan+2&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

body {
  background-color: #FFFAF6;
  margin: 0;
  padding: 0;
  font-family: helvetica, sans-serif;
}

h1{
  font-size: 5vw;
  color: #FFFAF6;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

h2{
  text-align: center;
  font-size: 2vw;
  padding: 0;
  margin: 0;
  font-family: 'Baloo Chettan 2', cursive;
}

h3{
  padding-top: 5px;
  padding-left: 5px;
  margin: 0;
  font-size: 1vw;
  font-family: 'Poppins', sans-serif;
}

p{
  text-align: center;
  font-size: 1.5vw;
  padding: 0;
  margin: 0;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: black;
}

.main{
  top: 0;
  padding-left: 200px;
  padding-right: 200px;
}

.header{
  background-color: #00ECBE;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  display: grid;
  align-content: center;
  align-items: center;
  padding-left: 50px;
  grid-template-columns: 60px .93fr repeat(4, 40px);
  grid-auto-rows: auto;
  grid-template-areas: "icon space fb ig twit email";
  grid-gap: 10px;
}

#contact{
  height: 40px;
  width: 40px;
}

#icon{
  grid-area: icon;
  height: 60px;
  width: 60px;
}

#fb{
  grid-area: fb;
}

#ig{
  grid-area: ig;
}

#twit{
  grid-area: twit;
}

#email{
  grid-area: email;
}

.banner{
  background-image:url("images/banner.jpg");
  background-size: cover;
  height: 500px;
  margin-top: 70px;
  text-align: center;
  line-height: 500px;
  padding: 0;
}

.container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  align-items: center;
  padding-left: 3vw;
  padding-right: 3vw;
  margin-top: 10px;
  padding-bottom: 10px;
}

@media only screen and (max-width: 900px){
  .main{
    padding: 0;
  }

  .container{
    grid-template-columns: 1fr;
    align-items: center;
  }

  .header{
    grid-template-columns: 60px .5fr repeat(4, 40px);
    grid-auto-rows: auto;
    grid-template-areas: "icon space fb ig twit email";
    grid-gap: 10px;
  }

  h1{
    font-size: 8vw;
  }

  h2{
    font-size: 6vw;
  }

  h3{
    font-size: 3vw;
  }

  p{
    font-size: 4.5vw;
  }
}

.box{
  height: 450px;
}

.box:hover .overlay {
  opacity: 0.6;
}

.overlay {
  position: relative;
  height: inherit;
  opacity: 0;
  transition: .2s ease;
  background-color: #00ECBE;
}

.description{
  padding-top: 180px;
}

#one,
#two,
#three,
#four,
#five,
#six{
  background-size: cover;
  background-position: center;
}

#one{
  background-image:url("images/cat.jpg");
}

#two{
  background-image:url("images/goldengate.jpg");
}

#three{
  background-image:url("images/sanfran.jpg");
}

#four{
  background-image:url("images/statue.jpg");
}

#five{
  background-image:url("images/amsterdam.jpg");
}

#six{
  background-image:url("images/eiffelview.jpg");
}

.button{
  background-color: #00ECBE;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5vw;
  padding: 15px 32px;
  margin: 4px 2px;
}

.archive{
  width: 50%;
  padding-left: 25%;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
}

#archive{
  border-bottom: 2px solid black;
}

.footer{
  background-color: #636363;
  width: 100%;
  height: 50px;
}
