body {
  background-color: #FFFAF6;
  margin: 0;
  padding: 0;
  font-family: helvetica;
}

h2 {
  text-align: center;
}

.header{
  background-color: #00ECBE;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  display: grid;
  align-content: center;
  align-items: center;
  padding-left: 50px;
  grid-template-columns: 60px .93fr repeat(4, 40px);
  grid-auto-rows: auto;
  grid-template-areas: "icon space fb ig twit email";
  grid-gap: 10px;
}

#contact{
  height: 40px;
  width: 40px;
}

#icon{
  grid-area: icon;
  height: 60px;
  width: 60px;
}

#fb{
  grid-area: fb;
}

#ig{
  grid-area: ig;
}

#twit{
  grid-area: twit;
}

#email{
  grid-area: email;
}

.img{
  position: relative;
  padding-left: 10%;
  padding-right: 10%;
  margin-top: 10px;
  padding-bottom: 10px;
}

.main{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 10px;
}

#display{
  height: 50%;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.content{
  width: 70%;
  text-align: justify;
  top: 0;
  left: 0;
}

.recent{
  width: 30%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

#display{
  width: 100%;
}

#card{
  width: 80%
}

@media only screen and (max-width: 900px){
  .header{
    grid-template-columns: 60px .5fr repeat(4, 40px);
    grid-auto-rows: auto;
    grid-template-areas: "icon space fb ig twit email";
    grid-gap: 10px;
  }
}

.footer{
  background-color: #636363;
  width: 100%;
  height: 50px;
}
